DATABASE_URL = "mysql+pymysql://root:@localhost:3306/sms_database"

JWT_SECRET_KEY = "my-secret-key"
JWT_EXPIRE_TIME = 120
JWT_ALGORITHM = "HS256"

OPENROUTER_API_KEY = ""

OPENROUTER_MODEL = "openrouter:tencent/hy3:free"